[submodule "support/xspec"]
	path = support/xspec
	url = https://github.com/AirQuick/xspec.git
	branch = test_saxon-12-3
[submodule "support/metaschema"]
	path = support/metaschema
	url = https://github.com/nikitawootten-nist/metaschema.git
	fetchRecurseSubmodules = false
[submodule "support/schxslt"]
	path = support/schxslt
	url = https://github.com/schxslt/schxslt.git
